= form_for @task do |f|
  %p
    = f.label :facility
    %br
    = f.text_field :facility
  %p
    = f.label :agency
    %br
    = f.text_field :agency
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :due_date
    %br
    = f.date_select :due_date
  %p
    = f.label :completed_date
    %br
    = f.date_select :completed_date
  %p
    = label_tag "Role Owner"
    %br
    - if @task.new_record?
      = collection_select(:role, :owner, User.all, :id, :full_name_reversed)
    - else
      = collection_select(:role, :owner, User.all, :id, :full_name_reversed,  { :selected => User.with_role(:owner, @task).first.id })
  %p
    = f.submit 'Submit'
