= form_for @task do |f|
  %p
    = f.label :facility
    %br
    = f.text_field :facility
  %p
    = f.label :agency
    %br
    = f.text_field :agency
  %p
    = f.label :owner
    %br
    = f.text_field :owner
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :due_date
    %br
    = f.date_select :due_date
  %p
    = f.label :completed_date
    %br
    = f.date_select :completed_date
  %p
    = f.submit 'Submit'
