%h1 'All Tasks'

%div
  = form_tag("/tasks/filter", method: "get") do
    = label_tag('filter[due_date]', "Filter By Due Date")
    = text_field_tag('filter[due_date]')
    = label_tag('filter[completed_date]', "Filter By Completed Date")
    = text_field_tag('filter[completed_date]')
    = submit_tag("Filter Results")
    
%table
  - @tasks.each do |task|
    %tr
      %td= task.owner
      %td= task.agency
      %td= task.facility
      %td= link_to task.description, task_path(task)
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Delete', task_path(task), method: :delete

= link_to 'New Task', new_task_path
= link_to 'Export Tasks', export_tasks_path(csv_params(params['filter']))
